:root {
  /* primary colors */
  --blue950: hsl(213, 96%, 18%);
  --purple600: hsl(243, 100%, 62%);
  --blue300: hsl(228, 100%, 84%);
  --blue200: hsl(206, 94%, 87%);
  --red500: hsl(354, 84%, 57%);

  /* nautral colors */
  --grey500: hsl(231, 11%, 63%);
  --purple200: hsl(229, 24%, 87%);
  --blue100: hsl(218, 100%, 97%);
  --blue50: hsl(231, 100%, 99%);
  --white: hsl(0, 100%, 100%);

  /* fonts */
  --ff-ubuntu: "Ubuntu", sans-serif;
  --fs-400: 1rem;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-ubuntu);
  font-size: var(--fs-400);
  color: var(--blue950);
  background-color: var(--blue100);
  line-height: 1.5;
  min-height: 100vh;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------- */
/* Global tag chages   */
/* ------------------- */
button {
  border: none;
  background-color: transparent;
}

input {
  border: solid 1px var(--grey500)
}

p {
  color: var(--grey500);
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */
.cursor-pointer {
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.smooth-edge {
  border-radius: .25rem;
  padding: 1rem;
}

.errorMessage {
  float: right;
  color: var(--red500)
}

.inputError {
  border: 1px solid var(--red500);
}

.planCard h3 {
  font-weight: 500;
}

.icon {
  float: left;
  padding: 0.5rem;
  padding-right: 1rem;
}

/* ------------------- */
/* Components          */
/* ------------------- */
/*! !*/
.stepButton {
  color: var(--white);
  height: 3rem;
  aspect-ratio: 1;
  border: solid 2px var(--white);
  border-radius: 50%;
  margin-top: 3rem;
  font-weight: 500;
}

.stepButton.active {
  color: var(--blue950);
  background-color: var(--blue200);
}
/*!  !*/
.nextButton {
  background-color: var(--blue950);
  color: var(--blue100);
  border-radius: .25rem;
  padding: 0.5rem 1rem;
}

.prevButton {
  color: var(--grey500);
  visibility: hidden;
}

.prevButton.visible {
  visibility: visible;
  cursor: pointer;
}
/*!  !*/
.planCard {
  display: flex;
  padding: 1rem 0.5rem;
  border: solid 1px var(--grey500);
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type='radio']:checked + .planCard {
  border-color: var(--purple600);
  background-color: var(--blue100);
}
/*!  !*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blue950);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*!  !*/
/* ------------------- */
/* Containers//Layouts */
/* ------------------- */
/*?  ?*/
.stepsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  min-height: 240px;
  background-image: url(../public/images/bg-sidebar-mobile.svg);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}
/*?  ?*/
.multiStepForm {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/*?  ?*/
.formBody {
  position: relative;
  top: -7.5rem;
  max-width: 490px;
  width: 90%;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: fit-content;
}
/*?  ?*/
.navButtonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  padding: 1rem 2rem;
  margin-top: auto;
}
/*?  ?*/
.planRadioContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/*?  ?*/
.paymentPlanContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue100);
  border-radius: .75rem;
  padding: 1rem;
  font-weight: 500;
  color: var(--grey500);
}

.paymentPlanContainer .active {
  color: var(--blue950);
}
/*?  ?*/

.formBody h1 {
  font-weight: 700;
}

.formBody > p {
  color: var(--grey500);
  font-size: 1.125rem;
  margin-bottom: 1rem;
}


.formBody input {
  width: 100%;
  margin-bottom: 1rem;
  line-height: 2rem;
  padding: .5rem 1rem;
  border-radius: 0.25rem;
}

.formBody input:focus {
  border: var(--blue950);
}


.checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addOnCard {
  display: flex;
  border: solid 1px var(--grey500);
  border-radius: 0.75rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.addOnTitle {
  flex-grow: 1;
}

.addOnCard > input {
  width: 1.75rem;
  height: 1.75rem;
  accent-color: var(--purple600);
  cursor: pointer;
  margin: auto;
}

.addOnPrice {
  min-width: 4rem;
  color: var(--purple600);
}

.addOnCard:has(input[type='checkbox']:checked) {
  border-color: var(--purple600);
  background-color: var(--blue50);
}

.summary-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: 1rem;
  background-color: var(--blue50);
  padding: 1rem;
  color: var(--grey500);
  border-radius: .75rem;
}

.plan {
  color: var(--blue950);
  font-weight: 500;
}

.price {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: var(--grey500);
}

.total-price {
  text-align: right;
  font-weight: bold;
  color: var(--purple600);
}

.b {
  border: solid 1px red;
}

.submitButton {
  background-color: var(--blue200);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
}


.summary-header-row > :first-child {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

.summary-header-row > .price {
  grid-column: 2;
  text-align: right;
}

.summary-header-row {
  border-bottom: 1px solid var(--grey500);
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}


.changeButton {
  padding: 0;
  text-decoration: underline;
  color: var(--grey500);
  cursor: pointer;
}

@media (min-width: 525px) {
  
}